<%= render partial: 'layouts/errors', locals:{object: @therapy_group}%>
</br>

<%= form_for(@therapy_group) do |f| %>
<div>
    <%= f.label :name %>
    <%= f.text_field :name%>
</div>

<div>
    <%= f.label :location %>
    <%= f.text_field :location%>
</div>

<div>
    <%= f.label :duration %>
    <%= f.number_field :duration %> mins
</div>

<div>
    <%= f.label :description %>
    <%= f.text_area :description %>
</div>


<p>Please select the therapy group specialty:</p>
<div>
    <%= f.collection_select :therapy_specialty_id, TherapySpecialty.all, :id, :name, include_blank: "Pick one" %>
</div>

<br>
<p>or, create a new therapy specialty!</p>
<%= f.fields_for :therapy_specialty do |s| %>
    <%= s.label :name %>
    <%= s.text_field :name %>

<% end %>
<br />
<%= f.submit %>

<% end %>