  
</br>
<h1>Therapy Groups</h1>
</br>
<div class=container3>
<% @therapy_groups.each do |g| %>
    <h2> <%= link_to "#{g.name}", therapy_group_path(g) %> </h2>
    <h3> <%= g.location %> - <%= g.duration %> mins   </h3>
    <p><%=g.description%></p>
    <p> <%= link_to "Write a review for #{g.name}     ", new_therapy_group_review_path(g) %>   |  <%= link_to "See reviews for #{g.name}", therapy_group_reviews_path(g) %></p>

<% end %>
</div>