<h1><%= @therapy_group.name%>  </h1>

<h3> <%= @therapy_group.location %> - <%= @therapy_group.duration %> mins </h3>
<div>
<p><%= @therapy_group.description %></p>
</div>
<h3><%= link_to "Edit #{@therapy_group.name}", edit_therapy_group_path(@therapy_group) %></h3>

<br>

<p><%=link_to "See this groups reviews", therapy_group_reviews_path(@therapy_group) %>   |   <%= link_to "Back to all therapy groups", therapy_groups_path %></p>
