<%= render partial: 'layouts/errors', locals:{object: @review}%>
</br>
<% if @therapy_group %>
    <h1> Add a review for <%=@therapy_group.therapy_specialty.name%> <%= @therapy_group.name %>!</h1>
<% else %>
    <h1> Add a review! </h1>
<% end %>
</br>

<%= form_for(@review) do |f| %>
<% if params[:therapy_group_id] %>
    <%= f.hidden_field :therapy_group_id %>
<% else %>
    <div>
        <%= f.label :therapy_group_id, "Select a Therapy Group" %>
        <%= f.collection_select :therapy_group_id, TherapyGroup.all, :id, :name, include_blank: true %>
    </div>
    <% end %>
<div>
    <%= f.label :stars %> 
    <%= f.number_field :stars, min:1, max:5 %> /5
</div>

<div>
    <%= f.label :title %>
    <%= f.text_field :title %>
</div>

<div>
    <%= f.label :content %>
    <%= f.text_area :content %>
</div>

<%= f.submit %>

<% end %>